.root {}

.main-img {
    height: 250px;
    margin: 20px 0px 0px;
    border: 7px solid #000000;
    border-radius: 40px;
}

.main-heading {
    color: #fdfdfd;
    margin: 4px;
}

.main-temp {
    margin: 3px;
    color: #fdfdfd;
}